* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 20px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.galeria-imagens {
  display: flex;
  overflow-x: scroll;
}

.detalhes-produto {
  margin-top: 20px;
}

.produtos-relacionados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.secao-comentarios {
  margin-top: 20px;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .galeria-imagens {
    justify-content: space-between;
  }
  
  .produtos-relacionados {
    grid-template-columns: repeat(4, 1fr);
  }
}